

.first-content{
    padding: 30px 40px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 570px;
}

.first-content .text-content h1{
    font-size: 40px;
    font-family: 'Outfit', Italic;
    font-weight: 600;
}


.first-content p{
     font-size: 25px;
     font-family: 'Outfit', Italic;
     font-weight: 200;
     max-width: 980px;
}

.first-content img{
    width: 500px;
    height: auto;
    border-radius: 100%;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.second-content{
    padding: 30px 40px;
    gap: 7rem;
    display: flex;
    min-height: 600px;
    align-items: center;
    justify-content: space-around;   
}

.second-content .content{
    display: flex;
    padding: 50px;
    border-radius: 45px;
    align-content: center;
    justify-content: center;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #5a1e1e 48%, #a24a4a 52%);
    clip-path: polygon(0, 48% 0, 52% 100%, 0% 100%);
}


.second-content h2{
    font-family: 'Parkinsans', latin;
    margin-top: 40px;
    letter-spacing: 1.3rem;
    font-size: 6rem;
    text-align: center;
    color: var(--text--color);
    margin-bottom: 0;
}

.second-content p{
    font-size: 25px;
    font-family: 'Outfit', Italic;
    font-weight: 350;
    color: var(--text--color);
}

.second-content .link1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.second-content .likeit{
    font-size: 40px;
    font-family: 'Outfit', Italic;
    font-weight: 600;
    color: var(--text--color);
    margin-top: 20px;
}

.second-content .button{
    background-color: var(--bottons--background-color);
    color: var(--text--color);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Outfit', Italic;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.second-content img{
    width: 535px;
    height: auto;
    border-radius: 100%;
    border: 2px solid #363333;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}


.third-content{
    padding: 30px 40px;
    gap: 20rem;
    display: flex;
    min-height: 600px;
    align-items: center;
    justify-content: space-around;
}


.third-content h2{
    font-family: 'Parkinsans', latin;
    letter-spacing: 2rem;
    font-size: 6rem;
    max-width: 3rem;
    color: #000;
}


.fourth-content{
    padding: 30px 40px;
    gap: 20rem;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    align-items: center;
}

.fourth-content footer{
    margin: 0;
    padding: 0;
}