:root{
    --background--background-color:#f6e4c4;
    --text--color: #f6e4c4;
    --header--background-color:rgb(210, 194, 166);
    --border-color:#D3D3D3;
    --secondary--background-color:#cbb8ae;
    --primary--background-color:#752d38;
    --bottons--background-color: #752d38;
    --scrollbar--background-color:#8a8986;
    --scrollbar-hover-background-color:#605f5d;
}