:root{
    --scrollbar--background-color:#752d38;
    --first-content--background-color:#f6e4c4;
    --border-color:#D3D3D3;
    --footer--background-color:#2C3E50;
    --bottons--background-color: #4682B4;
    --header--background-color:#752d38;
    --second-content--background-color:#752d38;
    --scrollbar-hover-background-color:#551720;
}