@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alfa+Slab+One&family=Archivo+Black&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&family=Tilt+Warp&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background--background-color);
}

header{
    background-color: var(--header--background-color);
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: #000 solid 2px;
}


header .logo span{
    font-size: 35px;
    font-family: 'Parkinsans', latin;
    font-weight: 600;
    color: #fff;
}

/* Stile di base per la navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

/* Contenitore della navbar con posizionamento relativo */
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.nav-links li {
    list-style: none;
    font-size: 20px;
    font-family: 'Parkinsans', latin;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

/* Stile dei link della navbar */
.nav-links li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: color 0.3s ease;
    display: inline-block;
    position: relative;
}

/* Elemento di sfondo che scorrerà */
.nav-links::after {
    content: '';
    position: absolute;
    height: 40px; /* Altezza del background, regola in base alle tue esigenze */
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.3s ease;
    opacity: 1;
    z-index: 1;
    pointer-events: none; /* Assicura che non interferisca con gli eventi mouse */
}

/* Cambio colore del testo quando attivo o hover */
.nav-links li a:hover,
.nav-links li a.active {
    color: #000;
}

/* Nasconde lo sfondo predefinito sui link .active per non interferire con l'effetto */
.nav-links li a.active {
    background-color: transparent;
}

footer{
   background-color: var(--footer--background-color);
   margin-top: 0;
   height: 300px;
}
